body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjnIuOVfF16CHXhNHTUg3YXtBq3BXtigWPMg&usqp=CAU'); 
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
}
.fijar_navnar{
    height: 10px;
    width: 50px;
    position: -webkit-sticky;

    top: 0;
}

.center_scroll{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

